$colorBodyBg: rgba(198, 238, 252, 0.53);
$colorContentBg: #3b3b3b;
$colorText: #ffffff;
$colorH: #fccd10;
$colorImgBorder: $colorH;
$colorBriefText: #000000;
$colorBriefBg: #fff178;
$colorTable: #94a34e;
$colorTableBg: #677d01;
$colorA: #f5c70f;
$colorForm: #f5c70f;
$colorButton: $colorA;
