$colorBodyBg: #dcbb9a;
$colorContentBg: #ffffff;
$colorText: #000000;
$colorH: #893c00;
$colorImgBorder: $colorH;
$colorBriefBg: #fadcba;
$colorTable: #e0e0e0;
$colorTableBg: #ffffff;
$colorA: #3d70a1;
$colorForm: #808080;
$colorButton: $colorA;
